<div class="filter">
    <label for="{{ id }}">{{ label }}</label>
    <input
            type="text"
            id="{{ id }}"
            name="{{ name }}"
            placeholder="{{ placeholder }}"
    >
</div>