{% extends 'base.html.twig' %}

{% block title %}
    Plan zajęć
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="styles/filter_section.css">
    <link rel="stylesheet" href="styles/calendar_section.css">
    <link rel="stylesheet" href="styles/control_section.css">
    <link rel="stylesheet" href="styles/switches.css">
    <link rel="stylesheet" href="styles/logo.css">
    <link rel="stylesheet" href="styles/mobile.css">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('scripts/switches.js') }}"></script>
    <script src="{{ asset('scripts/buttons.js') }}"></script>
    <script src="{{ asset('scripts/calendar-init.js') }}"></script>
    <script src="{{ asset('scripts/calendar-events.js') }}"></script>
    <script src="{{ asset('scripts/filter_suggestions.js') }}"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
{% endblock %}

{% block body %}

    {% block images %}
        <div class="logo-container">
            <img src="images/zut.png" alt="Logo" class="logo">
            <span class="logo-label">Zachodniopomorski Uniwersytet Technologiczny w Szczecinie</span>
        </div>
    {% endblock %}

    {% block controls %}
        {% include 'controls/controls_container.html.twig' %}
    {% endblock %}

<div id="main-container">

    {% block filters %}
        {% include 'filters/filters_container.html.twig' %}
    {% endblock %}

    {% block callendar %}
        {% include 'calendar/calendar.html.twig' %}
    {% endblock %}

</div>

{% endblock %}
